<div class="centered-content">
  <div class="form-box">
    <h1 class="title has-text-dark">Sign Up</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input has-background-light"
          type="email"
          placeholder="Email"
          #emailInput
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input has-background-light"
          type="password"
          placeholder="Password"
          #passwordInput
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field is-pulled-right">
      <p class="control">
        <button
          class="button is-primary has-text-white"
          (click)="onSignUpButtonClicked(emailInput.value, passwordInput.value)"
        >
          Sign Up
        </button>
      </p>
    </div>

    <br />
    <br />
    <br />

    <div class="login">
      <p class="has-text-dark">Already have an account?</p>
      <a routerLink="/login"> Log in here...</a>
    </div>
  </div>
</div>
